.env/
*.skv
*.skv.mat
automotive_suite-v0.0.0-recorder_viewer-win64/RecordedMovies/Alex_exercise_recovery/drive-download-20220715T213617Z-001.zip
skv_to_mat/.build/
skv_to_mat/build/
skv_to_mat/out/
vs_output.mat

# This is a sample .gitignore file that's useful for C++ projects.
#
# Add this file to the root of your git repo.  Name it .gitignore
#
# A .gitignore file will tell git which files and directories to ignore and
# not add to version control.

# Executables and debug files
#main
#*.exe
#*.dSYM
#*.stackdump

# Visual debugger configurations
#.vscode/
#.vs/
#*.vcxproj
#*.vcxproj.*
#*.xcodeproj/

# Output files
*.log
*.out

# Compiled Object files
#*.slo
#*.lo
#*.o
#*.obj

# Precompiled Headers
#*.gch
#*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Compiled Static libraries
#*.lai
#*.la
#*.a
#*.lib

# Executables
#*.exe
#*.out
#*.app

# Prerequisites
#*.d

# macOS system files
*.DS_Store

# Google Drive
Icon

# Files created by text editors
*~
*.lock
*.swp

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc
